$primary-color: #0f388b;
$secondary-color: #07296b;
$padding-sections: 25px;

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

h2 {
    font-size: 30px;
}

.titles {
    font-size: 50px;
    margin: 0;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: max-content;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    div {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-family: "system-ui";
            font-size: large;

            &:hover {
                cursor: pointer;
                color: $primary-color;

            }
        }

    }
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 1;
    max-height: max-content;

    ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('https://abc3340.com/resources/media/46e76f16-e11b-40ba-bc58-b90f65b7e1da-jumbo16x9_1280x720_60906P00EPTRK.jpg?1483036561886'),
            radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
        background-size: cover;
        mask-image: linear-gradient(black 85%,
                transparent);
        z-index: -50;
        filter: brightness(0.3);
    }

    .contenedorheader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;

        .divh1 {
            width: 70%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);



            .ingresar {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 25%;
                border-style: none;
                font-size: large;
                font-weight: bold;
                background-color: $secondary-color;
                color: white;
                gap: 15px;

                &:hover {
                    cursor: pointer;
                    border-color: $secondary-color;
                    background-color: $primary-color;
                    color: white;
                }
            }
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .cardsInfo {
                padding: 20px;
                border: 5px solid $secondary-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: black;
                align-items: baseline;
                font-weight: bold;

                div {
                    font-size: 40px;
                    color: $secondary-color;
                }
            }
        }
    }
}

.modallogin {
    background-color: black;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: $padding-sections;
    text-align: center;
    position: relative;
    border: 5px solid white;
    border-radius: 12px;

    div {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .divterceros {
        display: flex;
        transition: .5s ease-in-out;

        &:hover {
            background-color: $secondary-color;
            cursor: pointer;
        }

        .google {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 15px;
            border: 1px solid white;
        }

        p {
            display: inline-block;
        }

        .icon {
            font-size: 45px;
        }
    }

}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        height: 30px;
        width: 100%;
    }

    button {
        font-weight: bold;
        background-color: $secondary-color;
        border-style: none;
        height: 30px;
    }
}

.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 74, 74, 0.5);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    margin-bottom: 30px;

    .data {
        text-align: center;
        padding: $padding-sections;
    }

    .contentCards {
        display: flex;
        justify-content: center;
        gap: 25px;

    }

    .cardServices {
        width: 25%;
        min-height: 150px;
        max-width: auto;
        padding: 20px;
        color: white;
        border-radius: 12px;
        background: linear-gradient(to top, $secondary-color, rgba(7, 41, 107, 0));

        h3 {
            font-size: 20px;
        }

        p {
            color: grey;
        }
    }
}

.footer {
    margin-top: 50px;
    border: 1px solid white;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: $padding-sections;
    position: relative;


    .data {
        text-align: center;
    }

    .divredes {
        width: max-content;
        display: flex;
        gap: 15px;

        .redes {
            color: white;
            border: 1px solid white;
            padding: 10px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ig {
            background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888)
        }

        .wp {
            background-color: #25D366;
        }

        .fb {
            background-color: #1877F2;
        }
    }
}

.divfather {
    width: 97%;
    border-radius: 15px;
    text-align: center;
    padding: $padding-sections;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;



    .cardswiper {
        width: 80%;
        overflow: hidden;
        display: flex;
        gap: 10px;

        .data {
            color: grey;
            text-align: left;
            background: linear-gradient(to top, $secondary-color, rgba(7, 41, 107, 0));
            padding: $padding-sections;
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-radius: 12px;
            border-bottom: 2px solid white;
            border-right: 2px solid white;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: max-content;
            }

            h3 {
                color: white;
                margin: 0;
                text-decoration: 3px underline $primary-color;
                text-underline-offset: 8px;
            }
        }
    }

    .img {
        width: 500px;
        height: 230px;
        filter: brightness(.9);
    }
}